@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> UserManager
@model IEnumerable<Chatroom>
@{
    ViewData["Title"] = "Chatrooms";
}

<div class="text-center">
    <h1 class="display-4">Chatrooms</h1>
</div>

<div class="text-center">
    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" id="sortButton" class="btn btn-primary">Sort by @Html.DisplayNameFor(model => model.Name)</a>
</div>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        @if (@item.ChatroomImageUrl != null)
                        {
                            <img class="card-img-top" src="@item.ChatroomImageUrl" alt="Chatroom Banner">
                        }
                        else
                        {
                            <img class="card-img-top" src="~/images/banner-placeholder.png" alt="Card image cap">
                        }
                        
                        <div class="card-body">
                            <h2 class="text-left">@item.Name</h2>
                            <p class="card-text">@item.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="Chatrooms" asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Details</a>
                                    <a asp-controller="Chatrooms" asp-action="Chat" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Join</a>
                                    <a asp-controller="Messages" asp-action="Save" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Pin</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
